*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
body{
    background-color: hsl(0, 0%, 30%);
}
a{
    text-decoration: none;
}
/* ------- Header Styling ------ */
.navcont{
    display: flex;
    height: max-content;
    padding: 0.75rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-bottom: 1px solid hsl(125, 90%, 47%);
    background-color: black;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.navmenu{
    display: flex;
    padding: 0%;
}
.navmenu li{
    font-size: 1.1em;
    transition: background-color 0.5s ease;
    overflow-x: hidden;
}

.navbtn.mobile{
    display: none;
}
.navmenu li:hover{
    background-color: hsl(125, 90%, 47%);
}
.navmenu li a:hover{
    color: white
}
.navmenu li, .navmenu li a{
    padding: 10px;
    color: white;
}
#logo{
    font-size: 2.5em;
    color: hsl(125, 90%, 47%) ;
    font-weight: bolder;
    padding: 10px;
    -webkit-text-stroke: 0.5px white ;
}
.navbtn.desktop{
    font-size: 1.25em;
    background-color: #0ce41e;
    border-radius: 5px;
    transition: background-color 0.25s ease;
    padding: 10px;
}
.desktop:hover{
    background-color: hsl(125, 90%, 77%);
}
.button{
    color: white;
}
.navtoggle{
    display: none;
}
@media screen and (max-width: 690px) {
    .navmenu{
        display: none;
    }
    .navtoggle{
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: #0ce41e;
        background: none;
        border: none;
    }
}

/* ------- Body Section Styling ------ */

.hero{
    background-color: hsl(0, 0%, 5%);
    padding-top: 3rem;
}
.hero_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100%;
    max-width: 1300px;
    padding:50px;
}
.hero_content{
    color: white;
    padding: 1rem;
    margin: 1rem;
}
.hero_content h1{
    font-size: 4rem;
    color: #0ce41e;
}
.hero_content p{
    margin-top: 1rem;
    font-size: 1.2rem;
}
.hero_btn{
    font-size: 1.25em;
    background-color: #0ce41e;
    border-radius: 5px;
    transition: background-color 0.25s ease;
    padding: 10px;
    margin-top: 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease;
}
 .hero_btn:hover{
    background-color:hsl(125, 90%, 37%);
    transform: translateY(-3px);
    box-shadow: 0 0 10px hsl(125, 90%, 47%);
}
 .hero_btn:active{
    background-color:hsl(125, 90%, 57%);
    transform: translateY(-1px);
    box-shadow: 0 0 10px hsl(125, 90%, 47%);
}
.hero_image{
   display: flex;
   align-items: center;
   justify-content: center;
   width: fit-content;
   height: fit-content;
}
#hero_img{
    width: 100% ;
    height: 100% ;
}
@media screen and (max-width: 906px) {
    .hero_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: fit-content;
    width: 100%;
    max-width: 1300px;
    padding: 4rem 25px;
    }
    .hero_content{
    min-height:fit-content;
    padding: 0.5rem;
    }
    .hero_content h1{
    font-size: 2.3rem;
    color: #0ce41e;
    }
    .hero_content p{
    margin-top: 1rem;
    font-size: 1.2rem;
    }
    .hero_image{
    margin-bottom:0;
    border: #0ce41e 1px solid;
    width: fit-content ;
    height: fit-content ;
    }
    #hero_img{
    width: 70% ;
    height: auto;
    }
}

/* ------- Rotating Logos Styling ------ */

.rotating_logos{
    overflow: hidden;
    padding: 20px 15px;
    background-color: #f8f8f8;
    white-space: nowrap;
}
.rotating_logos_track{
    display: inline-block;
    animation: rotate 10s linear infinite ;
}
.rotating_logos:hover .rotating_logos_track{
    animation-play-state: paused;
}
.logo-text{
    font-size: 40px;
    font-weight: bold;
    margin: 0 40px;
    color: hsl(0, 0%, 10%);
}
@keyframes rotate{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* Why Choose Us Styling */
.why_choose_us{
    background-color: #0abf77;
    padding: 100px 20px;
    text-align: center;
}
.why_choose_us h1{
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
}
.why_choose_us .intro-text{
    font-size: 2rem;
    color: #fff;
    margin: 0 auto 50px;
    max-width: 1000px;
}
.features-grid{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}
.feature-item{
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    color: #fff;
}
.feature-item .icon{
    font-size: 2.5rem;
    color: #0abf77;
    margin-bottom: 20px;
}
.feature-item h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.feature-item p{
    font-size: 1rem;
    line-height: 1.6;
}


